{
  "printWidth": 120,
  "tabWidth": 4,
  "singleQuote": false,
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "bracketSpacing": true,
  "prettier.bracketSameLine": true,
  "prettier.bracketSpacing": false,
  "singleLineLinkTags": true,
  "indentSchema": true,
  "overrides": [
      {
          "files": "*.liquid",
          "options": {
              "singleQuote": false
          }
      }
  ]
}