 {% liquid
    assign products = section.settings.products
 %}

<h1 class="bg-red"> Hello world </h1>
<div>
{% for product in products %}
    title - <p>{{ product.title }}</p>
    {% endfor %}
    </div>


{% schema %}
{
    "name": "t:sections.product_slider.name",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Featured Products"
        },
        {
            "type": "text",
            "id": "cta",
            "label": "CTA",
            "default": "Shop Now"
        },
        {
            "type": "url",
            "id": "cta_link",
            "label": "CTA Link",
            "default": "/collections/all"
        },
        {
            "type": "product_list",
            "id": "products",
            "label": "Products",
            "limit": 10
        }
    ],
    "presets": [
        {
          "name": "t:sections.product_slider.name"
        }
      ]
}
{% endschema %}