<h1 class="bg-red"> Hello world </h1>


{% schema %}
{
    "name": "t:sections.product_slider.name",
    "presets": [
        {
          "name": "t:sections.product_slider.name"
        }
      ]
}
{% endschema %}