html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: calc(
    var(--header-height, 100px) + var(--spacing-2xl, 60px)
  ); /* Adjust the value as needed */
}

/* For older versions of Safari (11 or older) */
@supports not (scroll-margin-top: 0) {
  [id] {
    scroll-snap-margin-top: var(--spacing-header-full, 100px); /* Compatibility fallback */
  }
}
